/* General Container */
.navbar-container {
  width: 100%;
  font-family: 'Arial', sans-serif;
  background: white;
  border-bottom: 1px solid #e0e0e0;
}

/* Top Bar */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.title {
   font-family: 'Google Sans Text', Arial, sans-serif;
  font-size: 22px;
  font-weight: 550; /* Bold */
  color: #5f6368;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: #5f6368;
}

/* Tabs */
.tabs-scroll {
  display: flex;
  overflow-x: auto;
  padding: 8px 24px;
  gap: 24px;
  border-bottom: 1px solid #ddd;
}

.tab {
  font-size: 15px;
  color: #5f6368;
  cursor: pointer;
  padding-bottom: 8px;
  white-space: nowrap;
  border-bottom: 2px solid transparent;
}

.tab.active {
  color: #05741d;
  border-color: #05741d;
  font-weight: 500;
}

/* Device Buttons */
.device-scroll {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 10px 24px;
  margin-left: 5%;
}

.device-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 14px;
  font-size: 13px;
  border: 1px solid #dcdcdc;
  border-radius: 16px;
  background-color: white;
  color: #5f6368;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.2s;
}

.device-btn.active-device {
  background-color: #e6f4ea;
  color: #34a853;
  border-color: #34a853;
}

.device-icon {
  font-size: 18px;
  color: inherit;
}

/* Hide scrollbars */
.tabs-scroll::-webkit-scrollbar,
.device-scroll::-webkit-scrollbar {
  display: none;
}
@media (max-width: 600px) {
  .title {
    display: none;
  }
}